<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file" /><button type="submit">Upload</button>
    </form>
    <% if (messages && messages.success) { %>
    <p class="alert alert-success mt-4"><%- messages.success %></p>
    <% } %>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th width="200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if(results.length){ for(var i = 0; i< results.length; i++) {%>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= results[i].name%></td>
          <td><%= results[i].p%></td>
          <td><%= results[i].a%></td>
          <td><%= results[i].l%></td>
          <td><%= results[i].m%></td>
          <td><%= results[i].s%></td>
          <td><%= results[i].g%></td>
          <td><%= results[i].r%></td>
          <td><%= results[i].v%></td>
          <td><%= results[i].oneTwoOne%></td>
          <td><%= results[i].t%></td>
          <td><%= results[i].bizGive%></td>
          <td><%= results[i].pls%></td>
          <td><%= results[i].total%></td>
          <td><%= results[i].week%></td>
          <td><%= results[i].weekA%></td>
          <td><%= results[i].weekL%></td>
          <td><%= results[i].weekG%></td>
          <td><%= results[i].weekV%></td>
          <td><%= results[i].weekOneTwoOne%></td>
          <td><%= results[i].weekT%></td>
          <td><%= results[i].weekBizGive%></td>
          <td><%= results[i].weekTotal%></td>
          <td>
            <a
              class="btn btn-success edit"
              href="../users/edit/<%=results[i].id%>"
              >Edit</a
            >
          </td>
        </tr>
        <% } }else{ %>
        <tr>
          <td colspan="3">No user</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
